<!DOCTYPE html>

<html>

  <head>
      <meta charset="UTF-8" />
      <title>Jesters_Location</title>
      <link rel="stylesheet" type="text/css" href="Location.module.css">
      <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  </head>

  <body>
     <div id="wrapper">

     <header>
       <section class="top_bar">
         <div class="left-side">
         </div>
           
         <div class="right-side">
           <a href="">Our Story</a>
           <a href="">Become a Franchisee</a>
           <a href="">Fundraising</a>
           <a href="">Contact Us</a>
         </div>
       </section>
 
       <section class="main_bar">
         <div class="img-box">
           <img class="jester-logo" src="/public/img_jesters/logo.svg"></img>
         </div>
         
           <div class="menu-bar">
             <a href="">Menu</a>
             <a href="">Catering</a>
             <a href="">Locations</a>
             <button class="Order-online">Order online</button>
           </div>
         
       </section>
     </header>

     <main>
        <section class="section_rows"> 
          <img class="main-page-img" src="/public/img_jesters/location_pic/bg-v6.png"></img> 

     
          <div class="rows-box">       
            <span>Where's my pie?</span>
            <h1>FIND YOUR NEAREST</h1>
            <h1>JESTERS</h1>
          </div>
        </section>

        <section class="section_purple_row-ctn">
            <div class="purple-row">
                <div class="search-bar">
                    <input type="text" class="search" placeholder="Search">
                    <div class="search-icon-ctn">
                        <i class="fas fa-search"></i>
                    </div>
                </div>

                <div class="icons-ctn">
                    <div class="map-ctn">
                        <div class="map-icon-ctn">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <span>Map</span>
                    </div>

                    <div class="list-ctn">
                        <div class="list-icon-ctn">
                            <i class="fas fa-list-ul"></i>
                        </div>
                        <span>List</span>
                    </div>
                </div>

                

            </div>
        </section>

        <section class="section_mid_bar">
            <div class="mid_bar">
                <div class="content-ctn">
                    <div class="label-ctn">
                        <a>Jesters Standalone Stores</a>
                    </div>
                        <div class="icon-ctn">
                            <img src="/public/img_jesters/location_pic/mapMarker-new.png">
                        </div>
                </div>
                
                <div class="content-ctn">
                    <div class="label-ctn">
                        <a>Jesters at Caltex</a>
                    </div>
                        <div class="icon-ctn">
                            <img src="/public/img_jesters/location_pic/mapMarker-new.png">
                        </div>
                </div>
            </div>
        </section>

        <section>
            <div class="map-ctn">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.6877210300026!2d175.23086695210546!3d-37.75046973810023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6d2349beb10ded%3A0xf3cdacc3d5955da1!2sJesters%20Pies!5e0!3m2!1sen!2snz!4v1673438254392!5m2!1sen!2snz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section class="section_stores">
            <div class="stores-list">
                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Lunn-Ave.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Fraser-Cove.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Botany-Junction.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>

                <div class="store-ctn">
                    <div class="img-ctn">
                        <img class="main-page-img" src="/public/img_jesters/location_pic/Jesters-Westgate.png">
                    </div>

                    <div class="inf-ctn">
                        <h1>JESTERS BOTANY JUNCTION</h1>
                        <div class="button-ctn">
                            <button>MAP</button>
                        </div>
                        <p>Unit 10 / 125 Ormiston Rd,</p>
                        <p>Flat Bush,</p>
                        <p>Auckland</p>
                        <p>09 272 8070</p>
                        <label>PIE VAN AVAILABLE</label>
                    </div>
                </div>
            </div>
        </section>
     </main>
 
     <footer>
        <div class="footer-ctn">
          <section class="row-grid1">
            <div class="img-box">
              <img src="/public/img_jesters/footer-badge.png">
            </div>
    
            <div>
              <a>Menu</a>
              <a>Catering</a>
              <a>Locations</a>
            </div>
    
            <div>
              <a>Our Story</a>
              <a>Become a Franchisee</a>
              <a>Fundraising</a>
            </div>
    
            <div>
              <h3>Fllow us:</h3>
              <div class="icon-row">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-instagram"></a>
                  <a href="#" class="fab fa-linkedin"></a>
    
              </div>
            </div>
    
          </section>
    
          <section class="row-grid2">
            <div>
              <p>©2022 Jesters. All Rights Reserved. Crafted by <a>Crank'd Media</a></p>
            </div>
            
            <div>
              <a>Terms of Use</a>
            </div>
    
            <div>
              <a>Privacy Statement</a>
            </div>       
          </section>
        </div>
      </footer>